@model SoftwareStore.Models.ProductImage

@{
    ViewData["Title"] = "AddImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Images</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddImages" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label">Product</label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.Products"></select>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input name="Picture" type="file" style="height: auto" class="form-control" multiple/>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Products">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}